*.log
*.pot
*.pyc
.git
media/uploads
static/uploads
settings.py
local_settings.py
vm_settings.py
*.sqlite
logs
blaster.html

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
