{% extends "work/base_projects.html" %}

{% block title %}{{ block.super }} {% endblock %}


{% block content %}
    <h2 class="goth">
    {% if group.title %}
    	{{ group.title }} Portfolio
    {% else %}
    	Complete Portfolio
    {% endif %}
    </h2>
    
    <p class="subheading">Selected work in 
    	{% if group.title %}
    		{{ group.title }}
    	{% else %}
    		all areas
    	{% endif %}	
    </p>
    
    <ul class="work-list">

    {% for object in object_list %}
    
    
    <li class="work-item clearfix">
    	
    	<div class="work-detail">
	      	<h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
	      	
	      	<p>{{ object.description_html|safe }}</p>
	     
	      	
      	</div>
     
	     <div class="work-image-slideshow">

		     <ul class="work-image-list">
		     	{% if object.detail_image1 %}
		     	<li>
		      		<img src="{{ object.detail_image1.url }}" >
		      	</li>
		      	{% endif %}
		      	
		      	{% if object.detail_image2 %}
		      	<li>
		      		<img src="{{ object.detail_image2.url }}" >
		      	</li>
		      	{% endif %}
		      	
		      	{% if object.detail_image3 %}
		      	<li>
		      		<img src="{{ object.detail_image3.url }}" >
		      	</li>
		      	{% endif %}
		      	
		      	{% if object.detail_image4 %}
		      	<li>
		      		<img src="{{ object.detail_image4.url }}" >
		      	</li>
		      	{% endif %}
		      	
		      	{% if object.detail_image5 %}
		      	<li>
		      		<img src="{{ object.detail_image4.url }}" >
		      	</li>
		      	{% endif %}
		      	
		      	{% if object.detail_image6 %}
		      	<li>
		      		<img src="{{ object.detail_image4.url }}" >
		      	</li>
		      	{% endif %}
		      	
		      	
		      </ul>
		      		      
		      <div class="project-meta">
			      <div class="cat">Category:
				      {% for group in object.group.all %}
				      {{ group.title }}
				      {% endfor %}
			      </div>
			      
			      <ul class="button-list">
					<li><a  class="prev" href="#">← Previous</a></li>
					<li><a  class="next" href="#">Next →</a></li>
				  </ul>
				
			      <p class="more"><a href="{{ object.project_url }}">more...</a></p>
			  </div>
	      </div>
      </li>
    {% endfor %}
    
    </ul>
{% endblock %}

{% for category in object.categories.all %}
	<a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
	{% if forloop.last %}{% else %}
	{% ifequal forloop.revcounter0 1 %}and {% else %}, {% endifequal %}
	{% endif %}
{% endfor %}.</p>