{% extends "work/base_projects.html" %}

{% block title %}{{ block.super }} | {{ object.title }}{% endblock %}

{% load fb_versions %}

{% block content %}



<div class="work-item clearfix">
    	
    	<div class="work-detail">
	      	<h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
	      	
	      	<p>{{ object.description_html|safe }}</p>
	     
	      	
      	</div>
     
	     <div class="work-image-slideshow">
	     
	     			  
		     <ul class="work-image-list">
		     	{% if object.detail_image1 %}
		     	<li>
		     		<a class="fancybox" rel="gallery{{ object.id }}" href="{% version object.detail_image1 'large' %}">
		      			<img src="{% version object.detail_image1 'work_thumbnail' %}" >
		      		</a>
		      	</li>
		      	{% endif %}
		      	
		      	{% if object.detail_image2 %}
		      	<li>
		      		<a class="fancybox" rel="gallery{{ object.id }}" href="{% version object.detail_image2 'large' %}">
		      			<img src="{% version object.detail_image2 'work_thumbnail' %}" >
		      		</a>
		      	</li>
		      	{% endif %}
		      	
		      	{% if object.detail_image3 %}
		      	<li>
		      		<a class="fancybox" rel="gallery{{ object.id }}" href="{% version object.detail_image3 'large' %}">
		      			<img src="{% version object.detail_image3 'work_thumbnail' %}" >
		      		</a>
		      	</li>
		      	{% endif %}
		      	
		      	{% if object.detail_image4 %}
		      	<li>
		      		<a class="fancybox" rel="gallery{{ object.id }}" href="{% version object.detail_image4 'large' %}">
		      			<img src="{% version object.detail_image4 'work_thumbnail' %}" >
		      		</a>
		      	</li>
		      	{% endif %}
		      	
		      	{% if object.detail_image5 %}
		      	<li>
		      		<a class="fancybox" rel="gallery{{ object.id }}" href="{% version object.detail_image5 'large' %}">
		      			<img src="{% version object.detail_image5 'work_thumbnail' %}" >
		      		</a>
		      	</li>
		      	{% endif %}
		      	
		      	{% if object.detail_image6 %}
		      	<li>
		      		<a class="fancybox" rel="gallery{{ object.id }}" href="{% version object.detail_image6 'large' %}">
		      			<img src="{% version object.detail_image6 'work_thumbnail' %}" >
		      		</a>
		      	</li>
		      	{% endif %}
		      	
		      	
		      </ul>
	     	
		      <div class="project-meta">
			      <div class="cat">Category:
				      {% for group in object.group.all %}
				      {{ group.title }}
				      {% endfor %}
			      </div>
			      
			      <ul class="button-list">
					<li><a  class="prev" href="#">← Previous</a></li>
					<li><a  class="next" href="#">Next →</a></li>
				  </ul>
				
			      <p class="more"><a href="{{ object.project_url }}">more...</a></p>
			  </div>

		      
	      </div>
      </div>



    
   
{% endblock %}

{% block whatis %}
<p>This is a list of the latest links with the {{ tag.name }} tag.</p>
{% endblock %}