<!doctype html>
<html lang="en">
<head>
    <title>Resource Not Found</title>
</head>
<body style="background-color: #f4ede3; font-family: Arial, sans-serif; text-align: center;">
    <h1>What is this I don't even</h1>

    <p>Sorry, but the requested resource is unavailable, otherwise known as a 404 error.</p>
<img src = "{{ STATIC_URL }}i/tetherball.gif" alt="tetherball"><br>
    <p>A log file been notified, but you'll have to look somewhere else.</p>
    <a href="http://davidalanvogler.com">davidalanvogler.com</a>
</body>
</html>