<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>David Alan Vogler: {% block title %}{% endblock %}</title>
  <meta name="description" content="The personal site of David Alan Vogler">
  <meta name="author" content="Design, Development, and Deployment by David Alan Vogler">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

  <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/qvk0dul.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block extrahead %}{% endblock %}
</head> 
	 

<body class="{% block bodyclass %}{% endblock %}"> 
<div class="page">
	<header id="banner" class="clearfix" > 
	
	<div class="logowrap">
		<h1 id="logo">
			<a href="/" title = "David Alan Vogler, Product Design and Web Design">
				<span>David Alan Vogler</span>
				
			</a>
		</h1>
	</div>
	
	<div class="headerwrap clearfix">
	
		{% load url from future %}
		
		<h2 id="tag">
			I design products, websites, and I write about design.
		</h2>
			
		
		<nav id="nav" role="navigation">
			<ul>
				<li class="about">
				<a href="/about/">About</a>
				</li>
				<li class="blog">
				<a href="{% url 'blog.views.get_archive_index_first' %}">Blog</a>
				</li>
				<li class="work">
				<a href="/work/">Work</a>
				</li>
			
				<li class="contact">
				<a href="/contact/">Contact</a>
				</li>
			</ul>
		</nav>
		
		
	</div>
	
	
	</header>
	
	{% block about %}
	{% endblock %}
	
		
	<div id="main" class="clearfix">
	
	
	
	<div id="content">
		{% block content %}
		{% endblock %}
		
	</div>
	
	<aside id="sidebar"> 
	
	{% load blog_tags %}
	
	

	
		<h2 class="goth">Blog Categories</h2>
		
		
			{% nav_categorylist %}

		
		<h2 class="goth">Subscribe</h2>
		<ul class="rss">
			<li>
			<a href="/feeds/categories/product-design/">Subscribe to Product Design</a>
			</li>
			
			<li>
			<a href="/feeds/categories/web-design/">Subscribe to Web Design</a>
			</li>
			
			<li>
			<a href="/feeds/entries/">Subscribe to All the Things!</a>
			</li>
			
			
		</ul>
		
	
	</aside> <!-- sidebar -->
	
	</div> <!-- main -->
	 
	<footer id="footer" >
		<div class="footerwrap clearfix">
		<div id="recent" class="firstfootblock">
		
		
		<h2>Latest Entries</h2>
		<ul>
			{% get_latest blog.entry 5 as latest_entries  %}
			{% for entry in latest_entries %}
			<li>
				<a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
			</li>
			{% endfor %}
		</ul>
		
		<a href="#">Read more Entries...</a>
		
		

		
		</div>
		
		<div id="taglist" class="footblock">
		<h2>My Work</h2>
		
		{% load fb_versions %}
		<ul class="proj-thumbs clearfix">
			{% get_latest work.project 6 as latest_projects  %}
			{% for project in latest_projects %}
			<li>
				<a href="{{ project.get_absolute_url }}">
				<img src="{% version project.thumb 'thumbnail' %}" alt="{{ project.title }}" title="{{ project.title }}">
				</a>
			</li>
			{% endfor %}
		</ul>
		<a href="{% url 'work_group_list' %}">See all Portfolio Categories</a>
		

		
		</div>
		
		<div id="elsewhere">
		<h2>Elsewhere</h2>
		<p>Find me on teh internetz:</p>
		<ul>
		<li class="twit"><a href="http://twitter.com/@davevogler">Twitter</a></li>
		<li class="lion"><a href="http://www.linkedin.com/in/davevogler">LinkedIn</a></li>
		<li class="git"><a href="https://github.com/davogler">Github</a></li>
		<li class="plus"><a href="https://plus.google.com/112641362929913876832/posts">Google+</a></li>
		</ul>
		</div>
		
		</div> <!--footerwrap-->
		
		
		
		
	</footer>
</div> <!--page-->	
	
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  <script defer src="{{ STATIC_URL }}js/plugins.js"></script>
  <script defer src="{{ STATIC_URL }}js/script.js"></script>
  <script defer src="{{ STATIC_URL }}js/libs/jquery.cycle.lite.js"></script>
  
  <script defer src="{{ STATIC_URL }}fancybox/jquery.fancybox.pack.js"></script>

	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


	
  <!-- Save Us, O Chrome Frame. -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
